.container {
  padding: 20px;
  height: 100%;
  font-size: 14px;
  font-family: 'Figtree', 'Nunito Sans', Arial, sans-serif;

  .drawer {
    width: 60px;
    border-radius: 6px;
    background-color: #fff;
    height: 100%;

    .brand {
      height: 80px;
      border-bottom: #e0e0e0 1px solid;
    }

    .content {
      padding: 10px 0;
      ul.primary {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          text-align: center;
          position: relative;

          .menu-content {
            display: none;
            position: absolute;
            min-width: 150px;
            top: 7px;
            left: 60px;
            text-align: left;
            filter: drop-shadow(0 4px 8px #00000033);


            .tooltip {
              background-color: #f2f2f2;
              padding: 8px 12px;
              position: relative;
              text-transform: uppercase;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;

              &::before {
                content: '';
                position: absolute;
                left: -6px;
                top: 10px;
                display: inline-block;
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-right: 6px solid #f2f2f2;
              }

              &:not(:has(+ ul.secondary)) {
                border-radius: 5px;
              }
            }
            ul.secondary {
              list-style: none;
              padding: 0;
              margin: 0;
              background-color: #fff;
              width: 100%;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;

              li {
                text-align: left;
                padding: 8px 12px;
                cursor: pointer;
                &:hover {
                  background-color: #f5f5f5;
                  font-weight: 600;
                }
              }
            }
          }

          .item {
            padding: 10px;
            cursor: pointer;
            border: none;
            background: none;
            border-radius: 6px;

            .icon {
              width: 24px;
              height: 24px;

              .outline {
                display: block;
              }
              .fill {
                display: none;
              }
            }

            &.hover {
              background-color: #f5f5f5;
              .icon {
                .outline {
                  display: none;
                }
                .fill {
                  display: block;
                }
              }

              & + .menu-content {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
